*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(166, 122, 55),rgb(82, 82, 80));
    color: whitesmoke;
}

#header{
    position: sticky;
    top: 0;
    height: 70px;
    background: linear-gradient(90deg, black, rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    z-index: 1000;
}
#nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0 20px;
}

li{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    transition: 0.3s ease;
}

a:hover{
    color: rgb(165, 109, 234);
}

#img1{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin:  auto;
    display: block;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(200, 88, 8, 0.6);
    border: 4px solid rgb(12, 8, 1);
    margin-top: 20px;
}

#bio{
    text-align: center;
    padding: 20px;
    max-width: 100px;
    margin: auto;
}

#bio h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

#bio h2{
    font-size: 17px;
    line-height: 1.7;
    color: rgb(73, 46, 46);
}

.div{
    background: linear-gradient(135deg, black, #414345);
    padding: 85px;
    margin: 75px;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.7);
    transition: all 0.4s ease;
}

.div:hover{
    background: linear-gradient(135deg, #1d435000, #8311cf);
    transform: translateY(5px);
}

footer{
    background: linear-gradient(135deg, rgb(166, 122, 55),rgb(82, 82, 80));
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}


   